/* ReligionPage.css */

.religion-page {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #202020;
  color: #f0f0f0;
  padding: 10px 20px;
  border: 2px solid #f0f0f0;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f0f0f0;
  color: #202020;
  border-color: #202020;
}
