/* CreateAccount.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #fff;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background-color: #101010;
  gap: 10px;
  /* padding-top: 5rem; */
}

h1 {
  margin-bottom: 20px;
}

.create-account-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
}

.create-account-form input {
  padding: 12px;
  margin: 8px 0;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.name-inputs input {
  width: 48%;
}

.password-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  /* width: 100%; */
}

.create-account-container .create-account-form p {
  font-size: 0.875rem;
  text-align: center;
  margin: 10px;
}

.confirm-password-btn {
  background-color: #e3af4c;
  color: #000;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.social-signup-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.social-btn {
  width: 22%;
  height: 50px;
  background-color: #444;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-btn {
  background-color: #e3af4c;
  color: #000;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
